<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="CSE340 Web Backend Development">
	<meta name="author" content="Harrison Merrill">
	<meta name="theme-color" content="#005633">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>About Me</title>

	<!-- Preconnect to Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Amiri&family=Cabin+Sketch&family=Trade+Winds" rel="stylesheet">
	<link href="https://fonts.cdnfonts.com/css/indiana-jonas" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/main.css">

	<!-- Scripts -->
	<script src="/scripts/main.js"></script>
</head>

<body>
	<!-- HEADER HERE -->
	<header class="clearfix">
		<figure class="logo">
			<a href="index.html">
				<img src="/images/profile-pic.jpg" alt="logo">
			</a>
		</figure>
		<div class="slogan">
			<h1>About Me</h1>
			<h2>CSE340 Web Backend Development</h2>
		</div>
		<div class="menu">
			<button onclick="toggleMenu()">&#8801;</button>
		</div>
		<div class="skip-to-content"><a href="#maincontent">skip to main content</a></div>
	</header>

	<!-- NAVIGATION HERE -->
	<nav class="clearfix">
		<ul id="primaryNav" class="hide">
			<li><a href="/">Home</a></li>
			<li class="active"><a href="/about">About</a></li>
			<li><a href="/products">Products</a></li>
		</ul>
	</nav>

	<!-- MAIN CONTENT HERE -->
	<main class="clearfix" id="maincontent">
		<h1> Meet the Developer</h1>
		<div class="floatswitch" onclick="viewHandler(event)">
			<section>
				<h3>Harrison Merrill</h3>
				<picture>
					<img class="pointer" src="/images/profile-pic.jpg" alt="Harrison Merrill" loading="lazy">
				</picture>
			</section>
			<section>
				<h3>Background</h3>
				<p> My name is Harrison Merrill, and I am a Junior in Applied Technology, with an emphasis on web development,
					Database Design, and Information Security. I have been working on or with computers with my dad in some
					capacity since the windows 95 days, but have mostly just done things for fun or to troubleshoot a specific
					problem; this did however help guide me into deciding to get a degree in technology. I took a 6-year hiatus
					from school after my oldest child was born for several reasons, but now that he is in school himself, I
					started coming back to BYU-I last year.</p>
				<p> For my fun fact, I live in Japan, where I have lived for the last 8 years, and currently live in Okinawa
					though I spent most of my time in Japan in the greater Tokyo area in Tachikawa. This is because my wife works
					for the Air Force as a maintainer (mechanic) on C-130J's. For fun, when I find time that isn't dominated by
					school, family, or community, I like to play games like board games, video games, and tabletop games, cook or
					barbecue, and paint miniature figurines.</p>
				<p> Web development has turned into the main focus of my degree program, and while I've done a lot with various
					languages and front-end things, this will be my first back-end course. I'm hoping that by the end of this
					semester, I will become a confident full-stack developer.</p>
			</section>
	</main>

	<!-- FOOTER HERE -->
	<footer>
		&copy; <span id="longDate"></span> &bull; Harrison Merrill &bull; All rights reserved &bull;
		<span id="versionNumber"></span> &bull;
		<br> &bull; CSE340 Web Backend Development &bull; Student Practice &bull; Brigham Young University - Idaho &bull;
	</footer>

	<!-- SCRIPT HERE -->
	<script>
		writeLongDate();
		writeVersionNumber("v1.0.0");
	</script>

</body>

</html>