<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="CSE340 Web Backend Development">
	<meta name="author" content="Harrison Merrill">
	<meta name="theme-color" content="#005633">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Home</title>

	<!-- Preconnect to Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Amiri&family=Cabin+Sketch&family=Trade+Winds" rel="stylesheet">
	<link href="https://fonts.cdnfonts.com/css/indiana-jonas" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/main.css">

	<!-- Scripts -->
	<script src="/scripts/main.js"></script>
</head>

<body>
	<!-- HEADER HERE -->
	<header class="clearfix">
		<figure class="logo">
			<a href="index.html">
				<img src="/images/profile-pic.jpg" alt="logo">
			</a>
		</figure>
		<div class="slogan">
			<h1>Home</h1>
			<h2>CSE340 Web Backend Development</h2>
		</div>
		<div class="menu">
			<button onclick="toggleMenu()">&#8801;</button>
		</div>
		<div class="skip-to-content"><a href="#maincontent">skip to main content</a></div>
	</header>

	<!-- NAVIGATION HERE -->
	<nav class="clearfix">
		<ul id="primaryNav" class="hide">
			<li class="active"><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/products">Products</a></li>
		</ul>
	</nav>

	<!-- MAIN CONTENT HERE -->
	<main class="clearfix" id="maincontent">
		<h1> Welcome Home, Sir!!!</h1>
		<strong><i>&nbsp;“It’s a dangerous business, Frodo, going out your door. You step onto the road, and if you don’t
				keep your feet, there’s no knowing where you might be swept off to.”</i></strong>
		<p> This site is meant as a front-end landing page for my practice with and production for CSE340 Web Backend
			Development at Brigham Young University - Idaho, as taught by Professor Shepherd. This page will likely be
			developed over the course of the semester, and will ultimately serve as a demonstration portfolio for the skills I
			learned over the course of the semester.
		</p>
	</main>

	<!-- FOOTER HERE -->
	<footer>
		&copy; <span id="longDate"></span> &bull; Harrison Merrill &bull; All rights reserved &bull;
		<span id="versionNumber"></span> &bull;
		<br> &bull; CSE340 Web Backend Development &bull; Student Practice &bull; Brigham Young University - Idaho &bull;
	</footer>

	<!-- SCRIPT HERE -->
	<script>
		writeLongDate();
		writeVersionNumber("v1.0.0");
	</script>

</body>

</html>