<!-- Source from ejs templates -->
<%- include("partials/head") %>
<%- include("partials/header") %>
<%- include("partials/nav") %>

<!-- MAIN CONTENT HERE -->
<main class="clearfix" id="maincontent">
	<h1> Welcome to our Merch Store</h1>
	<p> We sell custom d20's and dice sets, character shirts, and more!</p>
</main>

<%- include("partials/footer") %>