<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="CSE340 Web Backend Development">
  <meta name="author" content="Harrison Merrill">
  <meta name="theme-color" content="#005633">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    <%= title %>
  </title>

  <!-- Preconnect to Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Amiri&family=Cabin+Sketch&family=Trade+Winds" rel="stylesheet">
  <link href="https://fonts.cdnfonts.com/css/indiana-jonas" rel="stylesheet">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">

  <!-- Scripts -->
  <script src="/scripts/main.js"></script>
</head>

<body>
  <!-- HEADER HERE -->
  <header class="clearfix">
    <figure class="logo">
      <a href="index.html">
        <img src="/images/profile-pic.jpg" alt="logo">
      </a>
    </figure>
    <div class="slogan">
      <h1>Merrill Express</h1>
      <h2>CSE340 Web Backend Development</h2>
    </div>
    <div class="menu">
      <button onclick="toggleMenu()">&#8801;</button>
    </div>
    <div class="skip-to-content"><a href="#maincontent">skip to main content</a></div>
  </header>

  <!-- NAVIGATION HERE -->
  <nav class="clearfix">
    <ul id="primaryNav" class="hide">
      <li class="<%= activePage === 'home' ? 'active' : '' %>"><a href="/">Home</a></li>
      <li class="<%= activePage === 'about' ? 'active' : '' %>"><a href="/about">About</a></li>
      <li class="<%= activePage === 'products' ? 'active' : '' %>"><a href="/products">Products</a></li>
    </ul>
  </nav>