<!-- NAVIGATION HERE -->
<nav class="clearfix">
  <ul id="primaryNav" class="hide">
    <li class="<%= activePage === 'home' ? 'active' : '' %>"><a href="/">Home</a></li>
    <li class="<%= activePage === 'about' ? 'active' : '' %>"><a href="/about">About</a></li>
    <li class="<%= activePage === 'products' ? 'active' : '' %>"><a href="/products">Products</a></li>
  </ul>
</nav>